/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
/* Typography */
.entry-title {
  margin: 0 0 1.5rem;
  font-size: 1.75rem;
  line-height: 1.3;
  color: #333;
}

.entry-content {
  margin: 1.5em 0 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    text-shadow: none;
  }

  p,
  ul,
  ol {
    font-size: 1.1rem;
    line-height: 1.6em;
    font-family: $font-family-sans-serif;
  }

  ul,
  ol {
    padding: 0 1.75rem;
    margin: 1.25rem 0;
    line-height: 1.5;
  }

  blockquote p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
    vertical-align: text-top;
  }

  h1,
  h2 {
    font-size: 1.75rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }

  h5,
  h6 {
    font-size: 1rem;
  }
}

blockquote {
  padding: 1em 1.5em 1em;
  margin-bottom: 1em;
  font-style: italic;
  border-top: solid 1px hsl(0, 0%, 80%);
  border-bottom: solid 1px hsl(0, 0%, 80%);

  em {
    font-style: normal;
  }

  cite {
    display: block;
    margin-top: 1em;
    margin-left: 40%;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    line-height: 1.5em;
    text-align: right;
  }
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
  .entry-title {
    font-size: 1.75rem;
    line-height: 1.3em;
  }

  .entry-content {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    h3,
    h4 {
      font-size: 1.5rem;
    }

    h5,
    h6 {
      font-size: 1rem;
    }

    p,
    ul,
    ol {
      font-size: 1rem;
    }
  }

  blockquote p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .entry-title {
    font-size: 1.75rem;
    line-height: 1.3em;
  }

  .entry-content {
    h2 {
      font-size: 1.5rem;
    }

    h3,
    h4 {
      font-size: 1.35rem;
    }

    h5,
    h6 {
      font-size: 1rem;
    }
  }
}

.entry-metanbt {
  margin-bottom: 1.5rem;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-size: 1rem;

  a {
    font-weight: 700;
  }
}

.entry-footer {
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2em;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 3.5rem;
  }

  a {
    margin-left: 0.5rem;
  }
}

.continue-readingnbt {
  margin: 0 4rem;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;

  i {
    margin-left: 0.5em;
  }
}

/*--------------------------------------------------------------
PJCHENder Customization
--------------------------------------------------------------*/
.post-outer {
  transition: all 0.5s;
  margin: 40px 0px;
  padding: 0px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 480px) {
  .post-outer {
    margin: 20px 0px;
  }
}

.title-border {
  border-left: 6px solid #333;
  padding-left: 0.5rem;
}

.paragraph {
  margin: 1rem 0;
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-size: 1rem;
  font-family: $font-family-paragraph;
}
.post-title a {
  color: #333;
}

.post .codeblock {
  display: block; /* fixes a strange ie margin bug */
  font-size: 1rem;
  overflow: auto;
  background: #f9f9fa;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 21px;
  max-height: 400px;
  line-height: 1.5rem;
}

.token.operator {
  background: transparent;
}

/*QUOTATION*/
.quotation {
  background: #f5f5f5;
  border-left: 5px solid #2f6f9f;
  margin: 1.25rem 0px;
  padding: 1.25rem;
  font-family: $font-family-paragraph;

  &:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    margin-left: -0.6em;
    vertical-align: -0.4em;
  }

  p,
  .paragraph {
    margin: 0;
    line-height: 1.5em;
  }

  a {
    color: #3b89c4;
    font-family: $font-family-paragraph;
  }
}

img {
  border: 1px solid #ddd;
  display: block;
  margin: 1.5rem auto;
  max-width: 100%;
  max-height: 450px;
}

/* Overwrite Prism.css */
code[class*='language-'],
pre[class*='language-'] {
  font-family: $font-family-codeblock;
  font-size: 1rem;
  line-height: 1.25;
  margin: 1.25rem 0;
}
