/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/
.widget-areanbt .widget {
  margin: 0 0 4em;
  font-size: 16px;
  font-size: 1rem;
}
.widget-areanbt {
  margin-right: 1.5em;
  background-color: none;
}
.widget-areanbt .widget h2 {
  margin-bottom: 1em;
  font-size: 1.5rem;
  border-bottom: 2px solid #000;
}
.widget-areanbt .widget a {
  font-weight: 700;
  color: #000;
}
.widget-areanbt .widget ul,
.widget-areanbt .widget ol {
  padding: 0;
  margin: -1em 0 0;
  list-style-type: none;
}
.widget-areanbt .widget li {
  padding: 1em 5px 0;
}
.widget-areanbt .widget li ul,
.widget-areanbt .widget li ol {
  margin-top: 0;
}
.widget-areanbt .widget li li {
  margin-left: 1.5em;
}
.widget select {
  max-width: 100%;
}
.widget_searchnbt .search-submitnbt {
  display: none;
}
.footer-widgetsnbt {
  margin: 0 auto;
  padding: 20px 15px;
  overflow: auto;
}
.footer-widgetsnbt .widget h2,
.footer-widgetsnbt .widget a:hover {
  color: #000;
  color: hsl(0, 0%, 0%);
  border-color: #000;
  border-color: hsl(0, 0%, 0%);
}
.footer-widgetsnbt .widget {
  float: left;
  width: 360px;
  margin: 0 1.5rem 3.5rem 2.5rem;
}

@media screen and (max-width: 770px) {
  .footer-widgetsnbt .widget {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .footer-widgetsnbt .widget {
    float: none;
    width: 100%;
    margin: 0 0 3rem;
  }
}

.widget .post-body ul,
.widget .post-body ol {
  padding: 0 1.75rem;
  margin: 1.25rem 0;
  line-height: 1.5;
}

.widget.FeaturedPost {
  h3 {
    font-size: 1.25rem;
  }
}
